body{
    background-color: rgb(255, 183, 213);
}

#paragraph{
    color:red;
}
.align
{
    text-align:right;
}
#boxmodels
{
    background-color: antiquewhite;
    border: 20px solid aliceblue;
}
.align
{
    text-align: center;
}
.wrapper{
    width: 100%;
}
.img-info{
    width: 100%;
} 
#style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}